<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>{{title}}</h1>
  <div class="header-bar"></div>
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>


  </nav>

  * em과 rem의 차이점
  <p style="font-size: 2em">
    AAA body*2 = 32
    <span style="font-size: 2em">parent * 2 = BBB</span>
  </p>
  <p style="font-size: 2rem">
    AAA
    <span style="font-size: 2rem">body*2 = 32 BBB</span>
  </p>

</div>

<router-outlet></router-outlet>
